<header class="navbar navbar-expand-md navbar-dark bd-navbar menu-bg-primary">
  <nav class="navbar navbar-expand-lg navbar-dark nav-fills">
    <div class="container-fluid">
      <div class="collapse show navbar-collapse" id="navbarSupportedContent">
        <h1 class="navbar-brand">{{ title }}</h1>
        <ul class="navbar-nav justify-content-center nav-fill">
          <li class="nav-item menu" *ngFor="let menu of menus">
            <a
              class="nav-link"
              [class.active]="clickedId === menu.id"
              (click)="onClickTopMenu(menu.id)"
              >{{ menu.label }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
